body {
  background: #42212F;
  color: #D1D1D1;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 2em auto;
  padding: 1em;
  background-color: #662B61;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 0.5em;
  color: #D1D1D1;
}

input {
  width: 80%;
  padding: 0.5em;
  margin-bottom: 1em;
}

button {
  background-color: #662B61;
  color: #D1D1D1;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#sunrise-sunset-info {
  margin-top: 2em;
}

.error {
  color: red;
}
